@tailwind base;
@tailwind components;
@tailwind utilities;

.right-cursor {
  box-shadow: 1px 0px 0px rgba(0, 0, 0, 1);
  animation: blink-right-cursor 1s steps(2) infinite;
  position: relative;
}

.left-cursor {
  box-shadow: inset 1px 0px 0px rgba(0, 0, 0, 1);
  animation: blink-left-cursor 1s steps(2) infinite;
  position: relative;
}

.cursor-white {
  box-shadow: 1px 0px 0px white;
  animation: blink 1s steps(2) infinite;
}

@keyframes blink-left-cursor {
  to {
    box-shadow: 0px 0px 0px transparent;
  }
}

@keyframes blink-right-cursor {
  to {
    box-shadow: inset 0px 0px 0px transparent;
  }
}
